@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111727;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1f2942 transparent;
  padding-right: 4px;
}
